.header{
 display: flex;
 padding: 15px 20px;
 justify-content: space-between;
 position: relative;
 background-color: color;
 z-index: 100;
 top: 0;
 box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.left_header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_input{
    display:flex;
    align-items: center;
    background-color: #eff2ef;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}
.header_input>input{
   border:none;
   background-color:transparent;
   outline-width:0;
}
.left_header>img{
    height:40px;
}

.center_header{
    display:flex;
    justify-content:center;
    align-items: center;
    flex:1;
}

.header_icons>.MuiSvgIcon-root{
    color:gray;
    
    font-size:30px;
    transition:color .3s linear;
}
.header_icons {
    display:flex;
    padding:0 30px;
    justify-content:center;
    align-items: center;
    margin-left: 10px;

}
.header_icons:hover>.MuiSvgIcon-root{
    cursor:pointer;
    color:#2e81f4;
}
.header_icons:hover{
    background-color:#eff2f5;
    border-radius:10px;
    padding:5px 30px;
    border-bottom:none;
}
.header_icon_active>.MuiSvgIcon-root{
    
     color:#2e81f4;
}
.header_icon_active {
    border-bottom:4px solid #2e81f4;
   
}

.header-info{
   display:flex;
   align-items: center;

}
.header-info>h4{ 
    margin-left: 10px;
    cursor:pointer;
 }

 .right_header{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left:10px;
    
}