.app{
  background-color: #f1f2f5;
  min-width:none; 
}
.app_body{
   /* display: flex;
   flex: 1; */
  display: grid;
  grid-template-columns:repeat(3,1fr);
 
  /* grid-gap: .5rem; */
  grid-column-gap: .5rem;
  grid-row-gap: 1rem;
   
}

/* @media(max-width:990px){
  .app_body{
   display: flex;
  flex-direction: column;
 
   
}
} */